.box{
    background: rgb(2,0,36);
    background: linear-gradient(111deg, rgba(2,0,36,1) 50%, rgba(255,255,255,1) 50%);
    border: 2px solid black;
    height: 80vh;
    width: 60vw;
}
.text h1{
    text-transform: uppercase;
    font-size: 34px;
    color: white;
    padding: 5px;
}
h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
form h1{
    border-bottom: 3px solid black;
}
.text p{
    color: white;
    font-size: 20px;
}
.text{
    padding: 25px;
    margin: 20px;
}
.form{
    position: absolute;
    left: 500px;
    top: 20px;
    margin: 23px;
    width: 20vw;
    height: 70vh;
}
.form form button{
    border: 1px solid blue;
    background-color: blue;
    color: white;
    border-radius: 23px;
    padding: 15px;
    width: 150px;
}
p a{
    text-decoration: none;
}
input{
    border: none;
    border-bottom: 1px solid grey;
    margin: 10px 0 10px 0;
}